---
import '../styles/global.css';
import '../data/data'
import Toggle from '../components/Toggle.tsx';
const {title, description, image, alt} = Astro.props;
---


<div class="w-[382px] h-[200px] bg-neutral-0 p-5 rounded-[20px] border border-neutral-200 shadow-card flex flex-col justify-between">
  <div class="flex gap-x-4 items-start">
    <img src={image} alt={alt} />
    <div>
      <h1 class="text-preset-2 text-neutral-900">{title}</h1>
      <p class="text-preset-5 text-neutral-500 pt-2">{description}</p>
    </div>
  </div>

  <div class="flex items-center justify-between">
    <button class="rounded-full border border-neutral-300 text-preset-6 text-neutral-900 py-2 px-4">
      Remove
    </button>
    <Toggle client:load />
  </div>
</div>

